    p{
        font-family: monospace;
        font-size: 32px;
        color: darkcyan;
    }
    img{
        height: 500px;
    }
    video{
        height: 1000px;
        
    }
    .Odd{
        background-color:aqua;
        font-family: 'Times New Roman', Times, serif;
    }
    #Bold{
        font-weight: bolder;
        font-variant: small-caps;
    }